/* Reset some default browser styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Define basic styles for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo{
    height: 50px;
    width: 140px;
}

/* Style the header section */
header {
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header img {
    max-width: 100%;
    height: auto;
}

/* Style the navigation menu */
nav ul {
    text-align: center;
    background-color: #495E57;
    padding-bottom: 20px;
    padding-top: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content area */
main {
    flex-grow: 1;
    padding: 20px;
}

/* Style the footer section */
footer {
    background-color: #EDEFEE;
    text-align: center;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer p{
    font-weight: bold;
    font-size: 19px;
    color: black;
}
