{% extends 'base.html' %}


{% block content %}
    <div>
        <h2>Menu</h2>
        <div class="food-container">
            <div class="food">
                <a href="">Nbdsdsds</a>
                <p>$11.0</p>
            </div>
            <div class="food">
                <a href="">Nbdsdsds</a>
                <p>$11.0</p>
            </div>
            <div class="food">
                <a href="">Nbdsdsds</a>
                <p>$11.0</p>
            </div>
            <div class="food">
                <a href="">Nbdsdsds</a>
                <p>$11.0</p>
            </div>
            <div class="food">
                <a href="">Nbdsdsds</a>
                <p>$11.0</p>
            </div>
        </div>
    </div>
{% endblock %}